*{
    margin: 0;
}

section{
    display: flex;
    justify-content: space-between;
}

video{
    height: 50vh;
    width: 100vh;
    border: 1px solid white;
}

audio{
    width: 100vh;
    border: 1px solid white;
}